#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        media_control: media_control {
            compatible = "zmk,behavior-tap-dance";
            label = "MEDIA_CONTROL";
            #binding-cells = <0>;
            bindings = <&kp K_PLAY_PAUSE>, <&kp K_NEXT>, <&kp K_PREV>;
        };

        rgb_brightness: rgb_brightness {
            compatible = "zmk,behavior-sensor-rotate";
            label = "RGB_BRIGHTNESS";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE   &kp N1  &kp N2  &kp N3    &kp N4            &kp N5                                           &kp N6     &kp N7         &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB     &kp Q   &kp W   &kp E     &kp R             &kp T                                            &kp Y      &kp U          &kp I      &kp O    &kp P     &kp LEFT_BRACKET
&kp ESCAPE  &kp A   &kp S   &kp D     &kp F             &kp G                                            &kp H      &kp J          &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHIFT  &kp Z   &kp X   &kp C     &kp V             &kp B          &lt 1 RIGHT_BRACKET  &lt 1 EQUAL  &kp N      &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                    &mo 2   &kp LGUI  &kp LEFT_CONTROL  &kp BACKSPACE  &kp DELETE           &kp ENTER    &kp SPACE  &kp RIGHT_ALT  &kp RALT   &kp A
                                                                       &media_control       &kp SPACE
            >;

            sensor-bindings =
                <&inc_dec_kp K_VOLUME_UP K_VOLUME_DOWN>,
                <&inc_dec_kp RIGHT LEFT>;
        };

        rare_keys {
            bindings = <
&kp F1  &kp F2  &kp F3    &kp F4    &kp F5  &kp F6                                       &kp F7  &kp F8     &kp F9     &kp F10         &kp F11       &kp F12
&trans  &trans  &trans    &trans    &trans  &kp PRINTSCREEN                              &trans  &kp KP_N7  &kp KP_N8  &kp KP_N9       &kp KP_MINUS  &trans
&trans  &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT                                    &trans  &kp KP_N4  &kp KP_N5  &kp KP_N6       &kp KP_PLUS   &trans
&trans  &trans  &trans    &trans    &trans  &kp K_NEXT       &trans              &trans  &trans  &kp KP_N1  &kp KP_N2  &kp KP_N3       &kp KP_ENTER  &trans
                &trans    &trans    &trans  &trans           &kp LA(LEFT_SHIFT)  &trans  &trans  &trans     &kp KP_N0  &kp LS(KP_DOT)
                                                             &trans              &trans
            >;
        };

        keyboard_control {
            bindings = <
&trans  &trans  &trans  &trans           &trans           &trans                           &trans      &trans      &trans      &trans  &trans  &bootloader
&trans  &trans  &trans  &rgb_ug RGB_HUD  &rgb_ug RGB_EFF  &rgb_ug RGB_HUI                  &trans      &trans      &trans      &trans  &trans  &trans
&trans  &trans  &trans  &rgb_ug RGB_BRD  &rgb_ug RGB_TOG  &rgb_ug RGB_BRI                  &bt BT_CLR  &bt BT_PRV  &bt BT_NXT  &trans  &trans  &trans
&trans  &trans  &trans  &trans           &trans           &trans           &trans  &trans  &trans      &trans      &trans      &trans  &trans  &trans
                &trans  &trans           &trans           &trans           &trans  &trans  &trans      &trans      &trans      &trans
                                                                           &trans  &trans
            >;
        };
    };
};
