#include "dodo.dtsi" // Notice that the main dtsi files are included in the overlay.

&kscan1 {
    col-gpios
        = <&expander 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&expander 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&expander 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&expander 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&expander 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&expander 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        ;
};

&right_encoder {
    status = "okay";
};